In [3]:
import pandas as pd

In [8]:
pure_researchers = pd.read_excel("../data/pure_researchers.xls")
pure_researchers.head()

,1 Name,2 Name > First name,3 Name > Last name,11.1 Organisations > Organisational unit[1],11.2 Organisations > Organisational unit[2],11.3 Organisations > Organisational unit[3],11.4 Organisations > Organisational unit[4],11.5 Organisations > Organisational unit[5],11.6 Organisations > Organisational unit[6],11.7 Organisations > Organisational unit[7],11.8 Organisations > Organisational unit[8],11.9 Organisations > Organisational unit[9]
0,R. Abdel Kader,R.,Abdel Kader,Databases (Former) - Former organisational uni...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tauseef Ali,Tauseef,Ali,Datamanagement & Biometrics - Former organisat...,"Services, Cybersecurity & Safety - Former orga...","Services, Cybersecurity & Safety - Former orga...","Services, Cybersecurity & Safety - Former orga...",Signals and Systems (SAS) - Former organisatio...,NaN,NaN,NaN,NaN
2,Robin Aly,Robin,Aly,Databases (Former) - Former organisational uni...,Human Media Interaction - Former organisationa...,Databases (Former) - Former organisational uni...,Databases (Former) - Former organisational uni...,Human Media Interaction - Former organisationa...,NaN,NaN,NaN,NaN
3,Juan Amiguet-Vercher,Juan,Amiguet-Vercher,Databases (Former) - Former organisational uni...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N.L.G. Anciaux,N.L.G.,Anciaux,Databases (Former) - Former organisational uni...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Maurice index 113
maurice_row = pure_researchers.iloc[113,]
print(maurice_row)

1 Name                                                                        Maurice van Keulen
2 Name > First name                                                                      Maurice
3 Name > Last name                                                                    van Keulen
11.1 Organisations > Organisational unit[1]                          Datamanagement & Biometrics
11.2 Organisations > Organisational unit[2]                            Digital Society Institute
11.3 Organisations > Organisational unit[3]                                       TechMed Centre
11.4 Organisations > Organisational unit[4]    Databases (Former) - Former organisational uni...
11.5 Organisations > Organisational unit[5]    Databases (Former) - Former organisational uni...
11.6 Organisations > Organisational unit[6]    Databases groep - Former organisational unit. ...
11.7 Organisations > Organisational unit[7]    Information Systems (IS) - Former organisation...
11.8 Organisations > Organisational unit[8]                                                  NaN
11.9 Organisations > Organisational unit[9]                                                  NaN
Name: 113, dtype: object